* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body
{
    font-family:Lato, sans-serif;
    Background: url(./images/plan-page.jpg);
    font-size: 16px;
    width: 1180px;
    color: aqua;
    margin: auto auto;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
article{
    color: #262626;
    display: inline-block;
    margin: 80px 20px 0 20px;
    border: 5px solid#424242;
    color: #a1a1a1;
    padding: 40px 7px 40px 7px;
    text-align: center;
    background-color: #262626;
}
article>h1{
    font-size: 1.5em;
    color: #FFF ;
    margin-bottom: 30px;
}
article>p{
    margin-bottom: 30px;
}
.price{
    font-size: 3em;
    font-weight: bold;
    color: #27dcc4;
}
ul{
    padding: 0;
}
button{
    background-color: #27dcc4;
    color:#FFF;
    padding: 15px 30px;
    margin: 15px 0;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
}
button:hover{
    background-color: #ACACAC;
}
li{
    list-style-type: none;
    padding: 5px 0;
}